.header {
  width: 100%;
  height: 5rem;
  padding: 0 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3f5;
  background-image: linear-gradient(to bottom right, #bac8ff, #f1f3f5);
}

.header h1 {
  color: #5c7cfa;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 1.4rem;
  color: #555;
}
