.tabdetails {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr 0.75fr 1fr;
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  background-color: #fff;
}

.tabdetails li {
  box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 12%);
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabactions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 485px) {
  .tabdetails {
    overflow: hidden;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr;
  }
  .tabdetails li {
    padding: 0.5rem;
  }
}
