.tabdetails {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 1.5fr;
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

.tabdetails li {
  border: 1px solid #1a8ed1;
  padding: 0.6rem;
  text-align: center;
}

.tabactions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
